<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Test Site</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Test Site for Filestack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p><strong>IMPORTANT!!!</strong></p>
            <p>Due to changes in the HTML 5 spec (Spring 2018), for now, you might right click on the download button to download content if it is known content to your web browser!!!</p>
            <p><a id="upload" class="btn btn-primary btn-lg" href="#" role="button">Click to Upload &raquo;</a></p>
            <p>Currently, this session, you can upload <strong><span id="count"></span></strong> more files this session</p>
            <hr>
            <div class="row">
                <div class="col">
                    <h3>Files uploaded this current session:</h3>
                    <ul id="drop-zone" class="list-group list-group-flush">
                        <!-- this will just be a test -->
                    </ul>
                </div>
                <div class="col">
                    <h3>Last 5 files uploaded in previous sessions... </h3>
                    {{# each uploads }}
                        <h4><a href="{{ this.url }}" target="_blank">{{ this.friendly_name }}</a></h4>
                        <h5>{{ this.date }}</h5>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <hr>
<footer class="container">
    <p>&copy; Cooper Hanke 2017-2018</p>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<!-- Filestack API loaded -->
<script src="https://api.filepicker.io/v1/filepicker.js"></script>
<!-- Filesaver.JS CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<!-- Custom scripting to start with API -->
<script src="/javascripts/filepicker-test.js"></script>
</body>
</html>

